body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #fff;
  position: relative;
  z-index: 10;
  font-weight: 100;
  font-size: 40pt;
  margin: 0;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

figcaption {
  height: 0;
}

.glass {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ingredient-options-list {
  position: absolute;
  right: 20px;
  z-index: 10;
}

.ingredient-options-list ul {
  padding-left: 0;
  list-style: none;
  max-height: 30vh;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 0;
}

.ingredient-options-list__overlay {
  pointer-events: none;
  position: relative;
  height: 40px;
  background: linear-gradient(transparent, #15151a);
  margin-top: -39px;
  z-index: 11;
}

@media (min-width: 1024px) {
  .ingredient-options-list ul {
    max-height: 70vh;
  }
}

.ingredient-search-label {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  color: #fff;
}

#ingredient-search {
  width: 100%;
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 1px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 2em;
  padding: 0 1em 0 1em;
}

.ingredient-options-list li {
  display: grid;
  grid-template-columns: 1fr 60px;
  row-gap: 1em;
  column-gap: 5px;
  margin-bottom: 5px;
}

.ingredient-options-list li:last-child {
  margin-bottom: 20px;
}

.ingredient-button {
  width: 140px;
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 1px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 2em;
  cursor: pointer;
}

.ingredient-unit-button {
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 1px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 2em;
  cursor: pointer;
}

.glass-actions {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.glass-actions button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 2px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 2em;
  cursor: pointer;
}

#mix-button {
  min-width: 200px;
  flex-grow: 1;
  margin-right: 20px;
}

#dump-button {
  width: 2em;
}

.result {
  color: #fff;
  font-size: 40px;
  color: #838ca2;
  flex-grow: 1;
  text-align: center;
}
