body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #15151a;
}

h1 {
  color: #fff;
  position: relative;
  z-index: 10;
  font-weight: 100;
  font-size: 40pt;
  margin: 0;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

figcaption {
  height: 0;
}

.glass {
  height: calc(100vh - 80px);
  width: 100vw;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
}

@media (min-width: 1024px) {
  .glass {
    height: 100vh;
    top: 0;
  }
}

.Ingredients {
  position: relative;
  z-index: 10;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.Ingredients ul {
  padding-left: 0;
  list-style: none;
  max-height: 30vh;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 0;
}

.ingredient-options-list__overlay {
  pointer-events: none;
  position: relative;
  height: 40px;
  background: linear-gradient(transparent, #15151a);
  margin-top: -39px;
  z-index: 11;
}

.ingredient-search-label {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  color: #fff;
}

#ingredient-search {
  width: 100%;
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 1px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 3em;
  font-size: 1.25em;
  padding: 0 1em 0 1em;
}

.Ingredients ul li {
  display: grid;
  grid-template-columns: 1fr 8em;
  row-gap: 1em;
  column-gap: 10px;
  margin-bottom: 10px;
}

.Ingredients ul li:last-child {
  margin-bottom: 20px;
}

.Ingredients .ingredient-button {
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 1px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 3em;
  font-size: 1.25em;
  cursor: pointer;
}

.Ingredients .ingredient-unit-button {
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 1px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 3em;
  font-size: 1.25em;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .Ingredients {
    position: absolute;
    width: 300px;
    right: 20px;
    z-index: 10;
  }

  #ingredient-search {
    height: 2em;
    font-size: 1em;
  }

  .Ingredients ul {
    max-height: 70vh;
  }

  .Ingredients ul li {
    grid-template-columns: 1fr 100px;
    row-gap: 1em;
    column-gap: 5px;
    margin-bottom: 5px;
  }

  .Ingredients .ingredient-button {
    /* width: 140px; */
    height: 2em;
    font-size: 1em;
  }

  .Ingredients .ingredient-unit-button {
    height: 2em;
    font-size: 1em;
  }
}

.glass-actions {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.glass-actions button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  background-color: #15151a;
  border-style: solid;
  color: #838ca2;
  border-width: 2px;
  border-color: #838ca2;
  border-radius: 6px;
  height: 2em;
  cursor: pointer;
}

#mix-button {
  min-width: 200px;
  flex-grow: 1;
  margin-right: 20px;
}

#dump-button {
  width: 2em;
}

.result {
  color: #fff;
  font-size: 40px;
  color: #838ca2;
  flex-grow: 1;
  text-align: center;
}
